{% extends 'base.html.twig' %}
{% set meta_title = 'test meta title' %}


{% block metatags %}
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ asset('css/backend.css') }}">
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script src="{{ asset('js/backend_head.js') }}"></script>
{% endblock %}


{% set body_class='hold-transition skin-blue sidebar-mini' %}
{% set body_id='page-top' %}

{% block body %}
    <div class="wrapper">
        {% include 'default/layout/header.html.twig' %}
        {% include 'default/layout/menu.html.twig' %}

        {% block content %} {% include 'default/layout/content.html.twig' %} {% endblock %}


        {% include 'default/layout/footer.html.twig' %}

        <script src="{{ asset('js/backend_vendor.js') }}"></script>
        <script src="{{ asset('js/backend.js') }}"></script>
        <script src="{{ asset('js/backend1.js') }}"></script>
    </div>
{% endblock %}