{% extends ':backend:admin.html.twig' %}

{% block content %}
    <div class="col-xs-12">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Quick Example</h3>

                <div class="box-tools">
                    <div class="input-group input-group-sm">

                    </div>
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body table-responsive no-padding">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Slug</th>
                            <th>Title</th>
                            <th>Meta</th>
                            <th>Createdat</th>
                            <th>Content</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for page in pages %}
                        <tr>
                            <td>{{ page.id }}</td>
                            <td>{{ page.slug }}</td>
                            <td>{{ page.title }}</td>
                            <td>
                                <b>Title:</b> {{ page.metaTitle }}<br>
                                <b>Description:</b> {{ page.metaDescription }}<br>
                                <b>Keywords:</b> {{ page.metaKeywords }}
                            </td>
                            <td>
                                {% if page.createdAt %}{{ page.createdAt|date('d-m-Y') }}{% endif %}
                            </td>
                            <td>{{ page.content }}</td>
                            <td>
                                <a href="{{ path('admin.page.show', { 'id': page.id }) }}"><span class="label label-success">Show</span></a>
                                <a href="{{ path('admin.page.edit', { 'id': page.id }) }}"><span class="label label-warning">Edit</span></a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
        <a class="btn btn-success btn-sm" href="{{ path('admin.page.new') }}">Create a new</a>
    </div>



{% endblock %}
